@import "./style";

#main {
  .main__container {
    &-header {
      margin-top: 2.5rem;
      text-align: center;
      &-h2 {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 2rem;
      }
      &-text {
        font-size: 12px;
        font-weight: bold;
        opacity: 0.6;
      }
    }
    &-center {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      text-align: center;
      margin-top: 2.5rem;
      margin-left: 4.5rem;
      .cards {
        width: 80%;
        .top-img {
          margin-bottom: 1rem;
        }
        .list {
          display: flex;
          justify-content: center;
          margin-bottom: 1rem;
        }
        .text {
          font-size: 20px;
          font-weight: 900;
          margin-bottom: 2.5rem;
        }
        .user-info {
          display: flex;
          text-align: left;
          column-gap: 2rem;
          .user-name {
            color: #23a6f0;
            font-weight: 800;
            margin-bottom: 10px;
          }
          .user-work {
            font-weight: 700;
          }
        }
      }
    }
  }
}
