@import "./style";
body {
  background-color: #252b42;
}

#main {
  display: grid;
  justify-content: center;
  text-align: center;
  .main__container {
    &-header {
      h2 {
        color: #fff;
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 3rem;
        @include mobile {
          margin: auto;
          margin-top: 10px;
          width: 150px;
        }
      }
    }
    &-center {
      @include mobile {
        width: 24.4rem;
      }
      img {
        width: 35rem;
        height: 15rem;
        @include mobile {
          width: 100%;
        }
      }
    }
    &-footer {
      font-size: 15px;
      display: grid;
      grid-template-columns: repeat(3, 0.5fr);
      margin-top: 2rem;
      column-gap: 10px;
      @include mobile {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }

      .cards {
        background-color: #fff;
        padding: 20px 40px 20px 20px;
        border: 1px solid lightgray;
      }

      .list {
        display: flex;
        column-gap: 1rem;
      }
      .text {
        text-align: left;
        font-weight: 500;
      }
      .user-info {
        display: flex;
        column-gap: 1rem;
        margin-top: 15px;
        text-align: left;
        .user-name {
          color: #23a6f0;
          font-weight: bold;
          margin-bottom: 10px;
        }
        .user-work {
          font-weight: bold;
        }
      }
    }
  }
}
