@import "./style";

#main {
  .main__container {
    display: grid;
    justify-items: center;
    margin-top: 7rem;
    row-gap: 1.5rem;
    @include mobile {
      text-align: center;
    }
    h2 {
      font-size: 25px;
      font-weight: bold;
      @include mobile {
        width: 180px;
        font-weight: 900;
      }
    }

    &-logo {
      width: 100px;
      height: 100px;
    }

    &-list {
      display: flex;
    }
    p {
      font-size: 20px;
      font-weight: bold;
    }
  }
}
